on:
  push:
    branches:
      - main

name: release-please

jobs:
  release-please:
    permissions:
      contents: write
      pull-requests: write
      id-token: write
      
    runs-on: ubuntu-20.04
    environment:
      name: pypi
    steps:
      - uses: google-github-actions/release-please-action@v4
        id: release
        with:
          release-type: python
      - uses: actions/checkout@v4
        if: ${{ steps.release.outputs.release_created }}
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: actions/setup-python@v5
        if: ${{ steps.release.outputs.release_created }}
        with:
          python-version: '3.8'
      - name: Install dependencies
        if: ${{ steps.release.outputs.release_created }}
        run: |
          python -m pip install --upgrade pip
          pip install build
      - name: Build package
        if: ${{ steps.release.outputs.release_created }}
        run: python -m build
      - name: Publish package
        if: ${{ steps.release.outputs.release_created }}
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
